In [10]:
%load_ext sql
%sql mysql://root:rootpassword123@localhost/menagerie
%sql USE menagerie

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql://root:***@localhost/menagerie
0 rows affected.

[]

In [11]:
# I have already put some data through trerminal.
%sql select * from pet;

 * mysql://root:***@localhost/menagerie
2 rows affected.

[('Puffball', 'Diane', 'hamster', 'f', datetime.date(1999, 3, 30), None),
 ('Bronze', 'Pranay', 'dobber', 'n', datetime.date(2019, 5, 30), None)]

In [12]:
import pandas as pd

output = %sql SELECT * from pet;
df=pd.DataFrame(output)
print("Dataframe object type:",type(df))
print(df)

 * mysql://root:***@localhost/menagerie
2 rows affected.
Dataframe object type: <class 'pandas.core.frame.DataFrame'>
          0       1        2  3           4     5
0  Puffball   Diane  hamster  f  1999-03-30  None
1    Bronze  Pranay   dobber  n  2019-05-30  None